<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="http://www.atlasestateagents.co.uk/css/tether.min.css">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/charts");
    <link rel="stylesheet" href="~/Content/site.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
    <span class="navbar-brand">Welcome @MyHelpers.UserFullName()</span>
    <span class="navbar-brand" >Call Compliance Portal</span>
</nav>

    <div class="container-fluid">
        <div class="row">
            @if (MyHelpers.UserFullName ().ToString () != "Authentication failed") {
                <div class="col-sm-3 col-md-2 sidebar">
                    <nav class="nav nav-pills nav-stacked nav-sidebar">
                        <a id="menu-unblock" class="nav-link" href="/Unblock">
                            <span style="width:55px" class="fa fa-2x fa-thumbs-up"></span> UnBlock
                        </a>
                        <a id="menu-whitelist" class="nav-link" href="/WhiteList">
                            <span style="width:55px" class="fa fa-2x fa-snowflake-o"></span> White List
                        </a>
                        <a id="menu-cooldown" class="nav-link" href="/CoolDown">
                            <span style="width: 55px" class="fa fa-2x fa-shower"></span> Cool Down
                        </a>
                        <a id="menu-reporting" class="nav-link" href="/Reporting">
                            <span style="width:55px" class="fa fa-2x fa-file-text-o"></span> Reporting
                        </a>
                        <a id="menu-dnc" class="nav-link" href="/DNC">
                            <span style="width:55px" class="fa fa-2x fa-user-times"></span> DNC
                        </a>
                        @if (!User.IsInRole ("Call_Frequency_Admins_SG")) {
                            <a id="menu-admin" class="nav-link" href="/Admin">
                                <span style="width:55px" class="fa fa-2x fa-user-circle-o"></span> Admin
                            </a>
                        }
                    </nav>
                </div>
            } else {
                <h1> You are not authenticated at UMA.  Check your VPN.</h1>
            }
            <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
                @RenderBody()
            </div>
        </div>
    </div>

<script src="http://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/charts")*@
    @RenderSection("scripts", required: false)
</body>
</html>